h1 {
    font-family: " nasalization-rg";
    font-size: 40px;
    color: #27d1ff;
    text-align: center;
}

a, nav{
    display: inline-block; 
    background-color: #2e2f30;
    color: white;
    padding-right: 50px;
    margin: 0px;
    text-align: right;
    vertical-align: middle;
    text-decoration: none; 
}
a:link {
    color: white; 
}

a:visited{
    color: white;
}

a:hover {
    background-color: #17c1ff;
}

a:active {
    color: #17c1ff;
    font-weight: bold;
}